@page "/CompProducto"

@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http

<h3>Producto</h3>
<p>Lista de producto y/o Servicios activos.</p>
@if (_rpt.Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>id Item</th>
            <th>id Prov</th>
            <th>Descripcion</th>
            <th>Precio Venta</th>
            <th>Precio Compra</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in _rpt.Data)
        {
        <tr>
            <td>@item.IdPro</td>
            <td>@item.IdPro</td>
            <td>@item.DescripcionLarga</td>
            <td>@item.PreVntaxMenor</td>
            <td>@item.PreCompra</td>
        </tr>
        }
    </tbody>
</table>
}
@*<table class="table">
    @if (_rpt != null && _rpt.Data != null)
    {
        @foreach (var item in _rpt.Data) //para realizar un recorrido a la clase producto de la carpeta data
        {
            <tr>
                <td>@item.IdPro</td>
                <td>@item.IdPro</td>
                <td>@item.DescripcionLarga</td>
                <td>@item.PreVntaxMenor</td>
                <td>@item.PreCompra</td>
            </tr>

        }
    }
</table>*@

@code {
    protected override async Task OnInitializedAsync() =>
    _rpt = await Http.GetFromJsonAsync<Data.Respuesta>(Url);

    public string Url = "/api/Producto";
    public Data.Respuesta _rpt = new Data.Respuesta();
}
