@page "/ProductoForm"
@page "/ProductoForm/{Id}"

<style>
    .oculto{
        display:none
    }
    .visible{
        display:inherit
    }
</style>

<h3>Producto</h3>

<div class="alert alert-success @MessageCss" role="alert">
    <h4 class="alert-heading">Producto Agregado Correctamente</h4>
    <p>Se agrego el producto: @_prod.DescripcionLarga satisfactoriamente</p>
    <button class="btn btn-primary" @onclick="Siguiente">Ir a Productos</button>
</div>

<div class="@FormCss">
    <EditForm Model="@_prod">
        <DataAnnotationsValidator />
        <div class="container-fluid">
            <div class="form-group row mb-1">
                <label class="col-sm-3">id Prod</label>
                <div class="col-sm-9">
                    <InputText class="form-control" @bind-Value="@_prod.IdPro"></InputText>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col-sm-3">id Proveedor</label>
                <div class="col-sm-9">
                    <InputText class="form-control" @bind-Value="@_prod.Idprovee"></InputText>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col-sm-3">Descripcion</label>
                <div class="col-sm-9">
                    <InputText class="form-control" @bind-Value="@_prod.DescripcionLarga"></InputText>
                    <ValidationMessage For="(()=>_prod.DescripcionLarga)" />
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col-sm-3">Margen de Ganancia</label>
                <div class="col-sm-9">
                    <InputNumber class="form-control" @bind-Value="@_prod.Frank"></InputNumber>
                    <ValidationMessage For="(()=>_prod.Frank)" />
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col-sm-3">Precio Compra</label>
                <div class="col-sm-9">
                    <InputNumber class="form-control" @bind-Value="@_prod.PreCompraS"></InputNumber>
                    <ValidationMessage For="(()=>_prod.PreCompraS)" />
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col-sm-3">Categoria</label>
                <div class="col-sm-9">
                    <InputNumber class="form-control" @bind-Value="@_prod.IdCat"></InputNumber>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col-sm-3">Marca</label>
                <div class="col-sm-9">
                    <InputNumber class="form-control" @bind-Value="@_prod.IdMarca"></InputNumber>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col-sm-3">Precio Venta Menor</label>
                <div class="col-sm-9">
                    <InputNumber class="form-control" @bind-Value="@_prod.PreVntaxMenor"></InputNumber>
                    <ValidationMessage For="(()=>_prod.PreVntaxMenor)" />
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col-sm-3">Unid. Medida</label>
                <div class="col-sm-9">
                    <InputText class="form-control" @bind-Value="@_prod.UndMedida"></InputText>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col-sm-3">Tipo Producto</label>
                <div class="col-sm-9">
                    <InputText class="form-control" @bind-Value="@_prod.TipoProdcto"></InputText>
                </div>
            </div>
            <div class="form-group row mb-1">
                <div class="col-sm-12">
                    <button class="btn btn-primary" @onclick="GuardarProducto">Guardar</button>
                </div>
            </div>
        </div>
    </EditForm>
</div>
