@page "/ProductoView"

@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http

<h3>Producto</h3>
<p>Lista de producto y/o Servicios activos.</p>

@if (_rpt.Data == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div>
        <div class="col-12 text-right">
            <a href="ProductoForm">Nuevo</a>
        </div>
    </div>

    <table class="table">
        <thead>

        </thead>
        <tbody>
            <tr>
                <th>id Item</th>
                <th>id Prov</th>
                <th>Descripcion</th>
                <th>Precio Venta</th>
                <th>Precio Compra</th>
                <th></th>
            </tr>
            @foreach (var item in _rpt.Data)
            {
                <tr>
                    <td>@item.IdPro</td>
                    <td>@item.Idprovee</td>
                    <td>@item.DescripcionLarga</td>
                    <td>@item.PreVntaxMenor</td>
                    <td>@item.PreCompra</td>
                    <td>
                        <a>Editar</a>
                        <a>Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    protected override async Task OnInitializedAsync() => _rpt = await Http.GetFromJsonAsync<Data.Respuesta>(Url);

    public string Url = "/api/Producto";
    public Data.Respuesta _rpt = new Data.Respuesta();
}
